@page
@model Topcat_Cat_Hotel.Pages.Admin.RoomListModel
@{
    ViewData["HideNavButtons"] = true;
}

<head>
    <link href="~/css/Admin/roomList.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/Admin/signOutConfirmationToggler.js"></script>
</head>

<body>
    <div class="body--introSection--container">
        <span class="body--roomList--introText">Room List</span>
        <a asp-page="/Admin/indexAdmin">
            <i class="homeIcon"></i>
        </a>
    </div>

    <div class="body--roomList--container">
        @if (Model.RoomList != null)
        {
            @foreach (var room in Model.RoomList)
            {
                <div class="roomList--roomContainer">
                    <span class="roomNo">@room.RoomNumber</span>
                    @if (room.Cats.Any())
                    {
                        <div class="shortDetails">
                            <span class="shortDetail--text">
                                Cat Names:
                                @foreach (var cat in room.Cats)
                                {
                                    <b>@cat.Name</b>
                                    @if (cat != room.Cats.Last())
                                    {
                                        <span>,</span>
                                        }
                                }
                            </span>
                            <span class="shortDetail--text">Date Arrived: <b>@room.Cats.First().CheckInDate.ToShortDateString()</b></span>
                            <span class="shortDetail--text">Date Leaving: <b>@room.Cats.First().CheckOutDate.ToShortDateString()</b></span>
                            <span class="shortDetail--text">Time Of Departure: <b>@(room.Cats.First().CheckOutTime.Hour < 12 ? "AM" : "PM")</b></span>
                        </div>
                        <form id="signOutCatsForm" asp-page-handler="SignOutCats" method="post">
                            <input type="hidden" name="roomId" value="@room.RoomId" />
                            <button type="button" class="signOutBtn">Sign Cats Out Early</button>
                            <div class="signOut--confirmation" style="display: none;">
                                <span>Are you sure you want to sign out the cats early?</span>
                                <div class="buttonGroup">
                                    <button id="accept" type="submit">Yes</button>
                                    <button id="decline" type="button">No</button>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <span class="roomList--EmptyText">Room Empty</span>
                    }
                </div>
            }
        }
    </div>
</body>
